In [179]:
import pandas as pd
import numpy as np

In [180]:
df = pd.read_csv('d://DataFiles_Backup//bangalore_3k.csv')

In [181]:
df.rename(columns = {'Unnamed: 0':'Tweet_ID', 'text':'Tweet_Text', 'lang':'Language', 'country':'Country'},inplace=True)

In [182]:
df.head()

,Tweet_ID,Tweet_Text,Language,Country
0,0,Machn wish u Happ birthday da @ThalaSyed005 üòç...,en,India
1,1,Not tryna be cool ‚úî And I wanna feel it too\nüì∏...,en,India
2,2,"Icardi, What a player. Inter stays within touc...",en,India
3,3,Will b d last day of all our #Mersal issues ! ...,en,India
4,4,Many ppl around the world r getting #Nougat 7....,en,India

In [183]:
df.head()

,Tweet_ID,Tweet_Text,Language,Country
0,0,Machn wish u Happ birthday da @ThalaSyed005 üòç...,en,India
1,1,Not tryna be cool ‚úî And I wanna feel it too\nüì∏...,en,India
2,2,"Icardi, What a player. Inter stays within touc...",en,India
3,3,Will b d last day of all our #Mersal issues ! ...,en,India
4,4,Many ppl around the world r getting #Nougat 7....,en,India

In [184]:
df.shape

(3606, 4)

In [185]:
df.dtypes

Tweet_ID       int64
Tweet_Text    object
Language      object
Country       object
dtype: object

In [186]:
df

,Tweet_ID,Tweet_Text,Language,Country
0,0,Machn wish u Happ birthday da @ThalaSyed005 üòç...,en,India
1,1,Not tryna be cool ‚úî And I wanna feel it too\nüì∏...,en,India
2,2,"Icardi, What a player. Inter stays within touc...",en,India
3,3,Will b d last day of all our #Mersal issues ! ...,en,India
4,4,Many ppl around the world r getting #Nougat 7....,en,India
5,5,Samvat 2074 will see liquidity-valuations tuss...,en,India
6,6,@timesofindia Is this piece of news visible to...,en,India
7,7,"When you lose your excuse, Results will be fou...",en,India
8,8,@CMofKarnataka pl read this. V all know that u...,en,India
9,9,@Rekhta \n‡§ñ‡§°‡§º‡•á ‡§π‡•à‡§Ç ‡§Æ‡•Å‡§ù‡§ï‡•ã ‡§ñ‡§∞‡•Ä‡§¶‡§æ‡§∞ ‡§¶‡•á‡§ñ‡§®‡•á ‡§ï‡•á ‡§≤‡§ø‡§è \...,hi,India
10,10,The way you react towards a problem will deter...,en,India
11,11,Fguuuuu,und,India
12,12,"@KVsayz Ee photo lo 7 gates unnay, 3 gates clo...",et,India
13,13,Dear young bloods don't do dz kind of stunts @...,en,India
14,14,@KVsayz Podhunne akkadiki vellinattu unnaru ga...,et,India
15,15,"@nimmaupendra \n\n U‡≤™‡≥ç‡≤™‡≤øsm,. Forever https://t...",en,India
16,16,"It's been dark and gloomy ride, all I wish for...",en,India
17,17,Happy Birthday @anirudhofficial Waiting for yo...,en,India
18,18,Meera Parida getting felicitated by our Founde...,en,India
19,19,‡ÆØ‡Ææ‡Æ∞‡Øç‡Æ∞‡Ææ ‡ÆÖ‡Æµ‡Æ©‡Øç ‡Æü‡Øá‡ÆØ‡Øç ‡Æπ‡Æ©‡Øç‡Æö‡ØÅ‡Æµ‡Øà‡ÆØ‡Øá ‡Æï‡ØÅ‡Æ±‡ØÅ ‡Æï‡ØÅ‡Æ±‡ØÅ‡Æ©‡Øç‡Æ©‡ØÅ ‡Æ™‡Ææ‡Æï‡Øç‡Æï...,ta,India
20,20,@ibrahimsns ‡ÆÖ‡Æµ‡Øç‡Æµ‡Øç‡Æµ‡Øç,ta,India
21,21,@OfficeOfRG @rajnathsingh @PMOIndia @sambitswa...,en,India
22,22,Three persons buried alive in a building colla...,en,India
23,23,Animal Activist Nandini paying price for compl...,en,India
24,24,Join the General Electric team! See our latest...,en,India
25,25,‡¥¶‡µÄ‡¥™‡¥æ‡¥µ‡¥≤‡¥ø ‡¥Ü‡¥∂‡¥Ç‡¥∏‡¥ï‡µæ ‡¥Ü‡¥∞‡µÅ‡¥Ç ‡¥Æ‡µÅ‡µª‡¥ï‡µÇ‡µº ‡¥§‡¥∞‡µÜ‡¥£‡µç‡¥ü‡¥æ...\n‡¥û‡¥æ‡µª ‡¥é‡¥ô‡µç...,ml,India
26,26,"Enjoy the day like it's your last, don't take ...",en,India
27,27,#Mersal Story Leaked? A Video For All Rumour K...,en,India
28,28,Sir your tweets are getting bold day by day. G...,en,India
29,29,Omg ! Where https://t.co/AwUTQ68EgB,en,India
...,...,...,...,...
3576,3576,#food #foodie #snacks #nature nature foodyeati...,en,India
3577,3577,@ernestjeffry You mean 80 crores turnover or l...,en,India
3578,3578,"‡™™‡´Ä‡™è‡™Æ ‡™Æ‡´ã‡™¶‡´Ä‡™è ‡™µ‡´á‡™™‡™æ‡™∞‡´Ä‡™ì‡™®‡´á ‡™ï‡™∞‡´ç‡™Ø‡´ã ‡™µ‡™æ‡™Ø‡™¶‡´ã, ‡™§‡™Æ‡™æ‡™∞‡™æ ‡™ú‡´Å‡™®‡™æ ...",gu,India
3579,3579,$ULI.V up +18.92% last wk as #UltraLithium sam...,en,India
3580,3580,@iPallaviGoyal u can PLAY with this https://t....,en,India
3581,3581,One Stop solution for the complete #interiorde...,en,India
3582,3582,"@iPallaviGoyal ""ALL""",und,India
3583,3583,‡™ï‡´ã‡™Ç‡™ó‡´ç‡™∞‡´á‡™∏‡™®‡´á ‡™™‡´á‡™ü‡™Æ‡™æ‡™Ç ‡™¶‡´Å‡™ñ‡´á ‡™õ‡´á ‡™Ö‡™®‡´á ‡™Æ‡™æ‡™•‡´Å‡™Ç ‡™ï‡´Å‡™ü‡´á ‡™õ‡´á‡™É ‡™µ...,gu,India
3584,3584,Can you recommend anyone for this #job? Projec...,en,India
3585,3585,"Jacques Kallis, @jacqueskallis75 is now trendi...",en,India
3586,3586,@Swamy39 Rajdeep looked like a mental case aft...,en,India
3587,3587,'sangeet' &amp; 'blot' are now trending in #Ba...,en,India
3588,3588,All the best @NewtonTheFilm for being selected...,en,India
3589,3589,Why are rent agreements only for 11 months?\nh...,en,India
3590,3590,@iPallaviGoyal &lt;--- STINKS,en,India
3591,3591,Thank you koko ü§ó https://t.co/N6dPr7zd8J,en,India
3592,3592,@iPallaviGoyal &lt;-- BEGGING FOR HUMILIATION,en,India
3593,3593,Make it your twitter/insta/fb DP for his 23rd ...,en,India
3594,3594,1485sq.ft Plot w/ price of 20.79 lakhs is avai...,en,India
3595,3595,üëÄ Insider Tips on Broadway by @debbiedares in ...,en,India
3596,3596,"And they say, #Kashmir belonged to them. üòÇüòÇüòÇ h...",en,India
3597,3597,+10 https://t.co/3emgBBHb3z,und,India
3598,3598,CRUDE OIL ROCKED FROM 3357 TO 3387 +30 PTS BOO...,en,India
3599,3599,HOLY SHIT 2018 @hellfestopenair TIX ARE ALREAD...,en,India
3600,3600,‡™®‡´ã‡™ü‡™¨‡™Ç‡™ß‡´Ä‡™®‡™æ ‡™ï‡™æ‡™∞‡™£‡´á 3 ‡™≤‡™æ‡™ñ ‡™ï‡™∞‡´ã‡™° ‡™∞‡´Ç‡™™‡™ø‡™Ø‡™æ‡™®‡´Å‡™Ç ‡™∏‡™∞‡™ï‡™æ‡™∞‡™®‡´á ‡™∏...,gu,India
3601,3601,@naralokesh Tirupati can be a bigger Eco-syste...,en,India
3602,3602,Rental Space Available for #CambridgeLayout #O...,en,India
3603,3603,Those questioning us on development of Gujarat...,en,India
3604,3604,$AWE.V up +18.75% last wk on no news: WATCH Br...,en,India
3605,3605,@iPallaviGoyal https://t.co/fgjxDy78Ij,und,India

In [187]:
df['Tweet_Text']

0       Machn wish u Happ birthday da  @ThalaSyed005 üòç...
1       Not tryna be cool ‚úî And I wanna feel it too\nüì∏...
2       Icardi, What a player. Inter stays within touc...
3       Will b d last day of all our #Mersal issues ! ...
4       Many ppl around the world r getting #Nougat 7....
5       Samvat 2074 will see liquidity-valuations tuss...
6       @timesofindia Is this piece of news visible to...
7       When you lose your excuse, Results will be fou...
8       @CMofKarnataka pl read this. V all know that u...
9       @Rekhta \n‡§ñ‡§°‡§º‡•á ‡§π‡•à‡§Ç ‡§Æ‡•Å‡§ù‡§ï‡•ã ‡§ñ‡§∞‡•Ä‡§¶‡§æ‡§∞ ‡§¶‡•á‡§ñ‡§®‡•á ‡§ï‡•á ‡§≤‡§ø‡§è \...
10      The way you react towards a problem will deter...
11                                                Fguuuuu
12      @KVsayz Ee photo lo 7 gates unnay, 3 gates clo...
13      Dear young bloods don't do dz kind of stunts @...
14      @KVsayz Podhunne akkadiki vellinattu unnaru ga...
15      @nimmaupendra \n\n U‡≤™‡≥ç‡≤™‡≤øsm,. Forever https://t...
16      It's been dark and gloomy ride, all I wish for...
17      Happy Birthday @anirudhofficial Waiting for yo...
18      Meera Parida getting felicitated by our Founde...
19      ‡ÆØ‡Ææ‡Æ∞‡Øç‡Æ∞‡Ææ ‡ÆÖ‡Æµ‡Æ©‡Øç ‡Æü‡Øá‡ÆØ‡Øç ‡Æπ‡Æ©‡Øç‡Æö‡ØÅ‡Æµ‡Øà‡ÆØ‡Øá ‡Æï‡ØÅ‡Æ±‡ØÅ ‡Æï‡ØÅ‡Æ±‡ØÅ‡Æ©‡Øç‡Æ©‡ØÅ ‡Æ™‡Ææ‡Æï‡Øç‡Æï...
20                                    @ibrahimsns ‡ÆÖ‡Æµ‡Øç‡Æµ‡Øç‡Æµ‡Øç
21      @OfficeOfRG @rajnathsingh @PMOIndia @sambitswa...
22      Three persons buried alive in a building colla...
23      Animal Activist Nandini paying price for compl...
24      Join the General Electric team! See our latest...
25      ‡¥¶‡µÄ‡¥™‡¥æ‡¥µ‡¥≤‡¥ø ‡¥Ü‡¥∂‡¥Ç‡¥∏‡¥ï‡µæ ‡¥Ü‡¥∞‡µÅ‡¥Ç ‡¥Æ‡µÅ‡µª‡¥ï‡µÇ‡µº ‡¥§‡¥∞‡µÜ‡¥£‡µç‡¥ü‡¥æ...\n‡¥û‡¥æ‡µª ‡¥é‡¥ô‡µç...
26      Enjoy the day like it's your last, don't take ...
27      #Mersal Story Leaked? A Video For All Rumour K...
28      Sir your tweets are getting bold day by day. G...
29                    Omg ! Where https://t.co/AwUTQ68EgB
                              ...
3576    #food #foodie #snacks #nature nature foodyeati...
3577    @ernestjeffry You mean 80 crores turnover or l...
3578    ‡™™‡´Ä‡™è‡™Æ ‡™Æ‡´ã‡™¶‡´Ä‡™è ‡™µ‡´á‡™™‡™æ‡™∞‡´Ä‡™ì‡™®‡´á  ‡™ï‡™∞‡´ç‡™Ø‡´ã ‡™µ‡™æ‡™Ø‡™¶‡´ã, ‡™§‡™Æ‡™æ‡™∞‡™æ ‡™ú‡´Å‡™®‡™æ ...
3579    $ULI.V up +18.92% last wk as #UltraLithium sam...
3580    @iPallaviGoyal u can PLAY with this https://t....
3581    One Stop solution for the complete #interiorde...
3582                                 @iPallaviGoyal "ALL"
3583    ‡™ï‡´ã‡™Ç‡™ó‡´ç‡™∞‡´á‡™∏‡™®‡´á ‡™™‡´á‡™ü‡™Æ‡™æ‡™Ç ‡™¶‡´Å‡™ñ‡´á ‡™õ‡´á ‡™Ö‡™®‡´á ‡™Æ‡™æ‡™•‡´Å‡™Ç ‡™ï‡´Å‡™ü‡´á ‡™õ‡´á‡™É ‡™µ...
3584    Can you recommend anyone for this #job? Projec...
3585    Jacques Kallis, @jacqueskallis75 is now trendi...
3586    @Swamy39 Rajdeep looked like a mental case aft...
3587    'sangeet' &amp; 'blot' are now trending in #Ba...
3588    All the best @NewtonTheFilm for being selected...
3589    Why are rent agreements only for 11 months?\nh...
3590                        @iPallaviGoyal &lt;--- STINKS
3591             Thank you koko ü§ó https://t.co/N6dPr7zd8J
3592       @iPallaviGoyal  &lt;-- BEGGING FOR HUMILIATION
3593    Make it your twitter/insta/fb DP for his 23rd ...
3594    1485sq.ft Plot w/ price of 20.79 lakhs is avai...
3595    üëÄ Insider Tips on Broadway by @debbiedares in ...
3596    And they say, #Kashmir belonged to them. üòÇüòÇüòÇ h...
3597                          +10 https://t.co/3emgBBHb3z
3598    CRUDE OIL ROCKED FROM 3357 TO 3387 +30 PTS BOO...
3599    HOLY SHIT 2018 @hellfestopenair TIX ARE ALREAD...
3600    ‡™®‡´ã‡™ü‡™¨‡™Ç‡™ß‡´Ä‡™®‡™æ ‡™ï‡™æ‡™∞‡™£‡´á 3 ‡™≤‡™æ‡™ñ ‡™ï‡™∞‡´ã‡™° ‡™∞‡´Ç‡™™‡™ø‡™Ø‡™æ‡™®‡´Å‡™Ç ‡™∏‡™∞‡™ï‡™æ‡™∞‡™®‡´á ‡™∏...
3601    @naralokesh Tirupati can be a bigger Eco-syste...
3602    Rental Space Available for #CambridgeLayout #O...
3603    Those questioning us on development of Gujarat...
3604    $AWE.V up +18.75% last wk on no news: WATCH Br...
3605               @iPallaviGoyal https://t.co/fgjxDy78Ij
Name: Tweet_Text, Length: 3606, dtype: object

In [188]:
en_tweets = df[df.Language=='en']

In [189]:
en_tweets

,Tweet_ID,Tweet_Text,Language,Country
0,0,Machn wish u Happ birthday da @ThalaSyed005 üòç...,en,India
1,1,Not tryna be cool ‚úî And I wanna feel it too\nüì∏...,en,India
2,2,"Icardi, What a player. Inter stays within touc...",en,India
3,3,Will b d last day of all our #Mersal issues ! ...,en,India
4,4,Many ppl around the world r getting #Nougat 7....,en,India
5,5,Samvat 2074 will see liquidity-valuations tuss...,en,India
6,6,@timesofindia Is this piece of news visible to...,en,India
7,7,"When you lose your excuse, Results will be fou...",en,India
8,8,@CMofKarnataka pl read this. V all know that u...,en,India
10,10,The way you react towards a problem will deter...,en,India
13,13,Dear young bloods don't do dz kind of stunts @...,en,India
15,15,"@nimmaupendra \n\n U‡≤™‡≥ç‡≤™‡≤øsm,. Forever https://t...",en,India
16,16,"It's been dark and gloomy ride, all I wish for...",en,India
17,17,Happy Birthday @anirudhofficial Waiting for yo...,en,India
18,18,Meera Parida getting felicitated by our Founde...,en,India
21,21,@OfficeOfRG @rajnathsingh @PMOIndia @sambitswa...,en,India
22,22,Three persons buried alive in a building colla...,en,India
23,23,Animal Activist Nandini paying price for compl...,en,India
24,24,Join the General Electric team! See our latest...,en,India
26,26,"Enjoy the day like it's your last, don't take ...",en,India
27,27,#Mersal Story Leaked? A Video For All Rumour K...,en,India
28,28,Sir your tweets are getting bold day by day. G...,en,India
29,29,Omg ! Where https://t.co/AwUTQ68EgB,en,India
30,30,Our very own Dr. Achyuta Samanta expressing hi...,en,India
31,31,@Jaggesh2 Nice all the best sir,en,India
34,34,@devaralas @KVsayz Yeah in flow taggindi ninna...,en,India
38,38,On Behalf of #Ajithians around the Globe wishi...,en,India
40,40,Simplicity is enchanting.,en,India
41,41,@AppleSupport I purchased one app by mistake. ...,en,India
42,42,4 people killed in building collapse after cyl...,en,India
...,...,...,...,...
3569,3569,#soup #foodie #snacks foodyeating diy.learning...,en,India
3570,3570,@iPallaviGoyal &lt;-- DESPARATE PIECE OF SHIT,en,India
3571,3571,@blrcitytraffic chaitanya school bus Ka53b5027...,en,India
3572,3572,"If u are not getting product in time, if u are...",en,India
3574,3574,@iPallaviGoyal PROUDLY DECLARE WAT U R,en,India
3575,3575,@RKzFandom @RK1610IsMe 8 years ‚ù§Ô∏è‚ù§Ô∏è,en,India
3576,3576,#food #foodie #snacks #nature nature foodyeati...,en,India
3577,3577,@ernestjeffry You mean 80 crores turnover or l...,en,India
3579,3579,$ULI.V up +18.92% last wk as #UltraLithium sam...,en,India
3580,3580,@iPallaviGoyal u can PLAY with this https://t....,en,India
3581,3581,One Stop solution for the complete #interiorde...,en,India
3584,3584,Can you recommend anyone for this #job? Projec...,en,India
3585,3585,"Jacques Kallis, @jacqueskallis75 is now trendi...",en,India
3586,3586,@Swamy39 Rajdeep looked like a mental case aft...,en,India
3587,3587,'sangeet' &amp; 'blot' are now trending in #Ba...,en,India
3588,3588,All the best @NewtonTheFilm for being selected...,en,India
3589,3589,Why are rent agreements only for 11 months?\nh...,en,India
3590,3590,@iPallaviGoyal &lt;--- STINKS,en,India
3591,3591,Thank you koko ü§ó https://t.co/N6dPr7zd8J,en,India
3592,3592,@iPallaviGoyal &lt;-- BEGGING FOR HUMILIATION,en,India
3593,3593,Make it your twitter/insta/fb DP for his 23rd ...,en,India
3594,3594,1485sq.ft Plot w/ price of 20.79 lakhs is avai...,en,India
3595,3595,üëÄ Insider Tips on Broadway by @debbiedares in ...,en,India
3596,3596,"And they say, #Kashmir belonged to them. üòÇüòÇüòÇ h...",en,India
3598,3598,CRUDE OIL ROCKED FROM 3357 TO 3387 +30 PTS BOO...,en,India
3599,3599,HOLY SHIT 2018 @hellfestopenair TIX ARE ALREAD...,en,India
3601,3601,@naralokesh Tirupati can be a bigger Eco-syste...,en,India
3602,3602,Rental Space Available for #CambridgeLayout #O...,en,India
3603,3603,Those questioning us on development of Gujarat...,en,India
3604,3604,$AWE.V up +18.75% last wk on no news: WATCH Br...,en,India

In [190]:
mask = np.column_stack([df['Tweet_Text'].str.contains("pothole", na=False) for text in df])
mask_pothole = df.loc[mask.any(axis=1)]

In [191]:
mask_pothole

,Tweet_ID,Tweet_Text,Language,Country
737,737,10+ ppl died in Bangalore due to potholes but ...,en,India
1614,1614,"@BBMPCOMM1 Sir,Deadly Road conditions for two...",en,India
1910,1910,@TOIBengaluru As if pothole deaths wr not enough,en,India
2342,2342,"No money for filling potholes,CM Karnataka spe...",en,India
2572,2572,AAP ACE champions registered complaint with BB...,en,India

In [192]:
df['Category'] = ''
df['Sub_Category'] = ''

In [193]:
df.head()

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
0,0,Machn wish u Happ birthday da @ThalaSyed005 üòç...,en,India,,
1,1,Not tryna be cool ‚úî And I wanna feel it too\nüì∏...,en,India,,
2,2,"Icardi, What a player. Inter stays within touc...",en,India,,
3,3,Will b d last day of all our #Mersal issues ! ...,en,India,,
4,4,Many ppl around the world r getting #Nougat 7....,en,India,,

In [194]:
df.dtypes

Tweet_ID         int64
Tweet_Text      object
Language        object
Country         object
Category        object
Sub_Category    object
dtype: object

In [195]:
Tweets_Categorized = df[(df.Tweet_Text.str.contains('pothole')) | (df.Tweet_Text.str.contains('murder')) | (df.Tweet_Text.str.contains('theft')) | (df.Tweet_Text.str.contains('robbery')) | (df.Tweet_Text.str.contains('accident')) | (df.Tweet_Text.str.contains('cruelty')) | (df.Tweet_Text.str.contains('blast')) | (df.Tweet_Text.str.contains('terror')) | (df.Tweet_Text.str.contains('explosion'))]

In [196]:
Tweets_Categorized['Category'] = 'Crime'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [197]:
Tweets_Categorized

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
42,42,4 people killed in building collapse after cyl...,en,India,Crime,
70,70,4 people killed in building collapse after cyl...,en,India,Crime,
182,182,@TheAsianAgeNews And Tillerson wl say Pakistan...,en,India,Crime,
257,257,https://t.co/7uGFf7937r\nBook @UIDAI for murde...,en,India,Crime,
331,331,Situation of Bangalore railway station. Inviti...,en,India,Crime,
471,471,#GauriLankesh murder will remain forever a my...,en,India,Crime,
482,482,This is man who is accused of roits begining f...,en,India,Crime,
576,576,Death toll rises to 6 in Ejipura blast in #Ben...,en,India,Crime,
607,607,Death toll rises to 6 in Ejipura cylinder blas...,en,India,Crime,
652,652,Death toll rises to 5 in Ejipura cylinder blas...,en,India,Crime,
737,737,10+ ppl died in Bangalore due to potholes but ...,en,India,Crime,
999,999,@YusufDFI He's right. Rest of us are disposabl...,en,India,Crime,
1092,1092,A Hindu Mutt Swamini attends a rally organized...,en,India,Crime,
1096,1096,"Pinarayi Vijayan, the prime accused in Kerala‚Äô...",en,India,Crime,
1315,1315,Siddaramaiah‚Äôs SIT probing Gauri Lankesh murde...,en,India,Crime,
1614,1614,"@BBMPCOMM1 Sir,Deadly Road conditions for two...",en,India,Crime,
1910,1910,@TOIBengaluru As if pothole deaths wr not enough,en,India,Crime,
2214,2214,Forensic team visits building collapse site at...,en,India,Crime,
2342,2342,"No money for filling potholes,CM Karnataka spe...",en,India,Crime,
2361,2361,@thekjgeorge @blrcitytraffic The very fact tha...,en,India,Crime,
2418,2418,@TimesNow Its a great job by the security forc...,en,India,Crime,
2455,2455,"This video, made me to keep my chocolate to se...",en,India,Crime,
2572,2572,AAP ACE champions registered complaint with BB...,en,India,Crime,
2772,2772,BBC News - Somalia attack: Death toll rises in...,en,India,Crime,
3207,3207,"Gauri Lankesh murderers came wit helmet, weren...",en,India,Crime,

In [198]:
Tweets_Pothole = df[df.Tweet_Text.str.contains('pothole')]
Tweets_murder = df[df.Tweet_Text.str.contains('murder')]
Tweets_accident = df[df.Tweet_Text.str.contains('accident')]
Tweets_theft = df[df.Tweet_Text.str.contains('theft')]
Tweets_robbery = df[df.Tweet_Text.str.contains('robbery')]
Tweets_cruelty = df[df.Tweet_Text.str.contains('cruelty')]
Tweets_blast = df[df.Tweet_Text.str.contains('blast')]
Tweets_terror = df[df.Tweet_Text.str.contains('terror')]
Tweets_explosion = df[df.Tweet_Text.str.contains('explosion')]
Tweets_assault = df[df.Tweet_Text.str.contains('assault')]

In [199]:
Tweets_Pothole['Category'] = 'Crime'
Tweets_Pothole['Sub_Category'] = 'Pothole'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [200]:
Tweets_Pothole

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
737,737,10+ ppl died in Bangalore due to potholes but ...,en,India,Crime,Pothole
1614,1614,"@BBMPCOMM1 Sir,Deadly Road conditions for two...",en,India,Crime,Pothole
1910,1910,@TOIBengaluru As if pothole deaths wr not enough,en,India,Crime,Pothole
2342,2342,"No money for filling potholes,CM Karnataka spe...",en,India,Crime,Pothole
2572,2572,AAP ACE champions registered complaint with BB...,en,India,Crime,Pothole

In [201]:
Tweets_murder['Category'] = 'Crime'
Tweets_murder['Sub_Category'] = 'Murder'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [202]:
Tweets_murder

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
257,257,https://t.co/7uGFf7937r\nBook @UIDAI for murde...,en,India,Crime,Murder
471,471,#GauriLankesh murder will remain forever a my...,en,India,Crime,Murder
482,482,This is man who is accused of roits begining f...,en,India,Crime,Murder
1096,1096,"Pinarayi Vijayan, the prime accused in Kerala‚Äô...",en,India,Crime,Murder
1315,1315,Siddaramaiah‚Äôs SIT probing Gauri Lankesh murde...,en,India,Crime,Murder
3207,3207,"Gauri Lankesh murderers came wit helmet, weren...",en,India,Crime,Murder

In [203]:
Tweets_accident['Category'] = 'Crime'
Tweets_accident['Sub_Category'] = 'Accident'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [204]:
Tweets_accident

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
331,331,Situation of Bangalore railway station. Inviti...,en,India,Crime,Accident
2361,2361,@thekjgeorge @blrcitytraffic The very fact tha...,en,India,Crime,Accident

In [205]:
Tweets_theft['Category'] = 'Crime'
Tweets_theft['Sub_Category'] = 'Theft'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [206]:
Tweets_theft

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
2455,2455,"This video, made me to keep my chocolate to se...",en,India,Crime,Theft

In [207]:
Tweets_blast['Category'] = 'Crime'
Tweets_blast['Sub_Category'] = 'Blast'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [208]:
Tweets_blast

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
576,576,Death toll rises to 6 in Ejipura blast in #Ben...,en,India,Crime,Blast
607,607,Death toll rises to 6 in Ejipura cylinder blas...,en,India,Crime,Blast
652,652,Death toll rises to 5 in Ejipura cylinder blas...,en,India,Crime,Blast
2214,2214,Forensic team visits building collapse site at...,en,India,Crime,Blast
2772,2772,BBC News - Somalia attack: Death toll rises in...,en,India,Crime,Blast

In [209]:
Tweets_explosion['Category'] = 'Crime'
Tweets_explosion['Sub_Category'] = 'Explosion'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [210]:
Tweets_explosion

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
42,42,4 people killed in building collapse after cyl...,en,India,Crime,Explosion
70,70,4 people killed in building collapse after cyl...,en,India,Crime,Explosion

In [211]:
Tweets_terror['Category'] = 'Crime'
Tweets_terror['Sub_Category'] = 'Terror'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [212]:
Tweets_terror

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
182,182,@TheAsianAgeNews And Tillerson wl say Pakistan...,en,India,Crime,Terror
999,999,@YusufDFI He's right. Rest of us are disposabl...,en,India,Crime,Terror
1092,1092,A Hindu Mutt Swamini attends a rally organized...,en,India,Crime,Terror
2418,2418,@TimesNow Its a great job by the security forc...,en,India,Crime,Terror

In [213]:
Tweets_assault['Category'] = 'Crime'
Tweets_assault['Sub_Category'] = 'Assault'

C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell 7548\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [214]:
Tweets_assault

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
474,474,Karnataka: Animal rights activist alleges mob ...,en,India,Crime,Assault
834,834,A woman from the majority community is brutall...,en,India,Crime,Assault
1780,1780,"CM @siddaramaiah reacts to the techie assault,...",en,India,Crime,Assault
1786,1786,Hand in gloves. SHO wud ve informed d goons in...,en,India,Crime,Assault
2143,2143,Talaghattapura Police Inspector who colluded w...,en,India,Crime,Assault
2677,2677,I've never been assaulted and I don't know the...,en,India,Crime,Assault
3144,3144,"This guy tweets on this issue, but not one twe...",en,India,Crime,Assault

In [215]:
#Concatenate the different dataframes to the original dataframe- df
Tweets_concat = pd.concat([Tweets_accident, Tweets_Pothole, Tweets_murder, Tweets_theft, Tweets_blast, Tweets_explosion, Tweets_terror, Tweets_assault, df])

In [216]:
#Display the concatenated dataframe
Tweets_concat

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
331,331,Situation of Bangalore railway station. Inviti...,en,India,Crime,Accident
2361,2361,@thekjgeorge @blrcitytraffic The very fact tha...,en,India,Crime,Accident
737,737,10+ ppl died in Bangalore due to potholes but ...,en,India,Crime,Pothole
1614,1614,"@BBMPCOMM1 Sir,Deadly Road conditions for two...",en,India,Crime,Pothole
1910,1910,@TOIBengaluru As if pothole deaths wr not enough,en,India,Crime,Pothole
2342,2342,"No money for filling potholes,CM Karnataka spe...",en,India,Crime,Pothole
2572,2572,AAP ACE champions registered complaint with BB...,en,India,Crime,Pothole
257,257,https://t.co/7uGFf7937r\nBook @UIDAI for murde...,en,India,Crime,Murder
471,471,#GauriLankesh murder will remain forever a my...,en,India,Crime,Murder
482,482,This is man who is accused of roits begining f...,en,India,Crime,Murder
1096,1096,"Pinarayi Vijayan, the prime accused in Kerala‚Äô...",en,India,Crime,Murder
1315,1315,Siddaramaiah‚Äôs SIT probing Gauri Lankesh murde...,en,India,Crime,Murder
3207,3207,"Gauri Lankesh murderers came wit helmet, weren...",en,India,Crime,Murder
2455,2455,"This video, made me to keep my chocolate to se...",en,India,Crime,Theft
576,576,Death toll rises to 6 in Ejipura blast in #Ben...,en,India,Crime,Blast
607,607,Death toll rises to 6 in Ejipura cylinder blas...,en,India,Crime,Blast
652,652,Death toll rises to 5 in Ejipura cylinder blas...,en,India,Crime,Blast
2214,2214,Forensic team visits building collapse site at...,en,India,Crime,Blast
2772,2772,BBC News - Somalia attack: Death toll rises in...,en,India,Crime,Blast
42,42,4 people killed in building collapse after cyl...,en,India,Crime,Explosion
70,70,4 people killed in building collapse after cyl...,en,India,Crime,Explosion
182,182,@TheAsianAgeNews And Tillerson wl say Pakistan...,en,India,Crime,Terror
999,999,@YusufDFI He's right. Rest of us are disposabl...,en,India,Crime,Terror
1092,1092,A Hindu Mutt Swamini attends a rally organized...,en,India,Crime,Terror
2418,2418,@TimesNow Its a great job by the security forc...,en,India,Crime,Terror
474,474,Karnataka: Animal rights activist alleges mob ...,en,India,Crime,Assault
834,834,A woman from the majority community is brutall...,en,India,Crime,Assault
1780,1780,"CM @siddaramaiah reacts to the techie assault,...",en,India,Crime,Assault
1786,1786,Hand in gloves. SHO wud ve informed d goons in...,en,India,Crime,Assault
2143,2143,Talaghattapura Police Inspector who colluded w...,en,India,Crime,Assault
...,...,...,...,...,...,...
3576,3576,#food #foodie #snacks #nature nature foodyeati...,en,India,,
3577,3577,@ernestjeffry You mean 80 crores turnover or l...,en,India,,
3578,3578,"‡™™‡´Ä‡™è‡™Æ ‡™Æ‡´ã‡™¶‡´Ä‡™è ‡™µ‡´á‡™™‡™æ‡™∞‡´Ä‡™ì‡™®‡´á ‡™ï‡™∞‡´ç‡™Ø‡´ã ‡™µ‡™æ‡™Ø‡™¶‡´ã, ‡™§‡™Æ‡™æ‡™∞‡™æ ‡™ú‡´Å‡™®‡™æ ...",gu,India,,
3579,3579,$ULI.V up +18.92% last wk as #UltraLithium sam...,en,India,,
3580,3580,@iPallaviGoyal u can PLAY with this https://t....,en,India,,
3581,3581,One Stop solution for the complete #interiorde...,en,India,,
3582,3582,"@iPallaviGoyal ""ALL""",und,India,,
3583,3583,‡™ï‡´ã‡™Ç‡™ó‡´ç‡™∞‡´á‡™∏‡™®‡´á ‡™™‡´á‡™ü‡™Æ‡™æ‡™Ç ‡™¶‡´Å‡™ñ‡´á ‡™õ‡´á ‡™Ö‡™®‡´á ‡™Æ‡™æ‡™•‡´Å‡™Ç ‡™ï‡´Å‡™ü‡´á ‡™õ‡´á‡™É ‡™µ...,gu,India,,
3584,3584,Can you recommend anyone for this #job? Projec...,en,India,,
3585,3585,"Jacques Kallis, @jacqueskallis75 is now trendi...",en,India,,
3586,3586,@Swamy39 Rajdeep looked like a mental case aft...,en,India,,
3587,3587,'sangeet' &amp; 'blot' are now trending in #Ba...,en,India,,
3588,3588,All the best @NewtonTheFilm for being selected...,en,India,,
3589,3589,Why are rent agreements only for 11 months?\nh...,en,India,,
3590,3590,@iPallaviGoyal &lt;--- STINKS,en,India,,
3591,3591,Thank you koko ü§ó https://t.co/N6dPr7zd8J,en,India,,
3592,3592,@iPallaviGoyal &lt;-- BEGGING FOR HUMILIATION,en,India,,
3593,3593,Make it your twitter/insta/fb DP for his 23rd ...,en,India,,
3594,3594,1485sq.ft Plot w/ price of 20.79 lakhs is avai...,en,India,,
3595,3595,üëÄ Insider Tips on Broadway by @debbiedares in ...,en,India,,
3596,3596,"And they say, #Kashmir belonged to them. üòÇüòÇüòÇ h...",en,India,,
3597,3597,+10 https://t.co/3emgBBHb3z,und,India,,
3598,3598,CRUDE OIL ROCKED FROM 3357 TO 3387 +30 PTS BOO...,en,India,,
3599,3599,HOLY SHIT 2018 @hellfestopenair TIX ARE ALREAD...,en,India,,
3600,3600,‡™®‡´ã‡™ü‡™¨‡™Ç‡™ß‡´Ä‡™®‡™æ ‡™ï‡™æ‡™∞‡™£‡´á 3 ‡™≤‡™æ‡™ñ ‡™ï‡™∞‡´ã‡™° ‡™∞‡´Ç‡™™‡™ø‡™Ø‡™æ‡™®‡´Å‡™Ç ‡™∏‡™∞‡™ï‡™æ‡™∞‡™®‡´á ‡™∏...,gu,India,,
3601,3601,@naralokesh Tirupati can be a bigger Eco-syste...,en,India,,
3602,3602,Rental Space Available for #CambridgeLayout #O...,en,India,,
3603,3603,Those questioning us on development of Gujarat...,en,India,,
3604,3604,$AWE.V up +18.75% last wk on no news: WATCH Br...,en,India,,
3605,3605,@iPallaviGoyal https://t.co/fgjxDy78Ij,und,India,,

In [217]:
Tweets_concat.shape

(3638, 6)

In [219]:
# Shows us how many duplicates are there in the Tweets
Tweets_concat.Tweet_ID.duplicated().sum()

32

In [220]:
# Shows duplicates for the entire dataframe, only if an entire row matches any one above it.
Tweets_concat.duplicated().sum()

0

In [221]:
# To see the actual duplicated rows if any.
Tweets_concat.loc[Tweets_concat.duplicated(), :]

Empty DataFrame
Columns: [Tweet_ID, Tweet_Text, Language, Country, Category, Sub_Category]
Index: []

In [222]:
Tweets_concat.duplicated(subset = ['Tweet_ID','Tweet_Text','Language','Country'],keep='last').sum()

32

In [232]:
Tweets_concat.loc[Tweets_concat.duplicated(subset = ['Tweet_ID','Tweet_Text','Language','Country'],keep='last'), :]

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
331,331,Situation of Bangalore railway station. Inviti...,en,India,Crime,Accident
2361,2361,@thekjgeorge @blrcitytraffic The very fact tha...,en,India,Crime,Accident
737,737,10+ ppl died in Bangalore due to potholes but ...,en,India,Crime,Pothole
1614,1614,"@BBMPCOMM1 Sir,Deadly Road conditions for two...",en,India,Crime,Pothole
1910,1910,@TOIBengaluru As if pothole deaths wr not enough,en,India,Crime,Pothole
2342,2342,"No money for filling potholes,CM Karnataka spe...",en,India,Crime,Pothole
2572,2572,AAP ACE champions registered complaint with BB...,en,India,Crime,Pothole
257,257,https://t.co/7uGFf7937r\nBook @UIDAI for murde...,en,India,Crime,Murder
471,471,#GauriLankesh murder will remain forever a my...,en,India,Crime,Murder
482,482,This is man who is accused of roits begining f...,en,India,Crime,Murder
1096,1096,"Pinarayi Vijayan, the prime accused in Kerala‚Äô...",en,India,Crime,Murder
1315,1315,Siddaramaiah‚Äôs SIT probing Gauri Lankesh murde...,en,India,Crime,Murder
3207,3207,"Gauri Lankesh murderers came wit helmet, weren...",en,India,Crime,Murder
2455,2455,"This video, made me to keep my chocolate to se...",en,India,Crime,Theft
576,576,Death toll rises to 6 in Ejipura blast in #Ben...,en,India,Crime,Blast
607,607,Death toll rises to 6 in Ejipura cylinder blas...,en,India,Crime,Blast
652,652,Death toll rises to 5 in Ejipura cylinder blas...,en,India,Crime,Blast
2214,2214,Forensic team visits building collapse site at...,en,India,Crime,Blast
2772,2772,BBC News - Somalia attack: Death toll rises in...,en,India,Crime,Blast
42,42,4 people killed in building collapse after cyl...,en,India,Crime,Explosion
70,70,4 people killed in building collapse after cyl...,en,India,Crime,Explosion
182,182,@TheAsianAgeNews And Tillerson wl say Pakistan...,en,India,Crime,Terror
999,999,@YusufDFI He's right. Rest of us are disposabl...,en,India,Crime,Terror
1092,1092,A Hindu Mutt Swamini attends a rally organized...,en,India,Crime,Terror
2418,2418,@TimesNow Its a great job by the security forc...,en,India,Crime,Terror
474,474,Karnataka: Animal rights activist alleges mob ...,en,India,Crime,Assault
834,834,A woman from the majority community is brutall...,en,India,Crime,Assault
1780,1780,"CM @siddaramaiah reacts to the techie assault,...",en,India,Crime,Assault
1786,1786,Hand in gloves. SHO wud ve informed d goons in...,en,India,Crime,Assault
2143,2143,Talaghattapura Police Inspector who colluded w...,en,India,Crime,Assault
2677,2677,I've never been assaulted and I don't know the...,en,India,Crime,Assault
3144,3144,"This guy tweets on this issue, but not one twe...",en,India,Crime,Assault

In [234]:
Tweets_concat.drop_duplicates(subset = ['Tweet_ID','Tweet_Text','Language','Country'], inplace=True)

In [236]:
Tweets_concat.Tweet_ID.duplicated().sum()

0

In [237]:
Tweets_concat

,Tweet_ID,Tweet_Text,Language,Country,Category,Sub_Category
331,331,Situation of Bangalore railway station. Inviti...,en,India,Crime,Accident
2361,2361,@thekjgeorge @blrcitytraffic The very fact tha...,en,India,Crime,Accident
737,737,10+ ppl died in Bangalore due to potholes but ...,en,India,Crime,Pothole
1614,1614,"@BBMPCOMM1 Sir,Deadly Road conditions for two...",en,India,Crime,Pothole
1910,1910,@TOIBengaluru As if pothole deaths wr not enough,en,India,Crime,Pothole
2342,2342,"No money for filling potholes,CM Karnataka spe...",en,India,Crime,Pothole
2572,2572,AAP ACE champions registered complaint with BB...,en,India,Crime,Pothole
257,257,https://t.co/7uGFf7937r\nBook @UIDAI for murde...,en,India,Crime,Murder
471,471,#GauriLankesh murder will remain forever a my...,en,India,Crime,Murder
482,482,This is man who is accused of roits begining f...,en,India,Crime,Murder
1096,1096,"Pinarayi Vijayan, the prime accused in Kerala‚Äô...",en,India,Crime,Murder
1315,1315,Siddaramaiah‚Äôs SIT probing Gauri Lankesh murde...,en,India,Crime,Murder
3207,3207,"Gauri Lankesh murderers came wit helmet, weren...",en,India,Crime,Murder
2455,2455,"This video, made me to keep my chocolate to se...",en,India,Crime,Theft
576,576,Death toll rises to 6 in Ejipura blast in #Ben...,en,India,Crime,Blast
607,607,Death toll rises to 6 in Ejipura cylinder blas...,en,India,Crime,Blast
652,652,Death toll rises to 5 in Ejipura cylinder blas...,en,India,Crime,Blast
2214,2214,Forensic team visits building collapse site at...,en,India,Crime,Blast
2772,2772,BBC News - Somalia attack: Death toll rises in...,en,India,Crime,Blast
42,42,4 people killed in building collapse after cyl...,en,India,Crime,Explosion
70,70,4 people killed in building collapse after cyl...,en,India,Crime,Explosion
182,182,@TheAsianAgeNews And Tillerson wl say Pakistan...,en,India,Crime,Terror
999,999,@YusufDFI He's right. Rest of us are disposabl...,en,India,Crime,Terror
1092,1092,A Hindu Mutt Swamini attends a rally organized...,en,India,Crime,Terror
2418,2418,@TimesNow Its a great job by the security forc...,en,India,Crime,Terror
474,474,Karnataka: Animal rights activist alleges mob ...,en,India,Crime,Assault
834,834,A woman from the majority community is brutall...,en,India,Crime,Assault
1780,1780,"CM @siddaramaiah reacts to the techie assault,...",en,India,Crime,Assault
1786,1786,Hand in gloves. SHO wud ve informed d goons in...,en,India,Crime,Assault
2143,2143,Talaghattapura Police Inspector who colluded w...,en,India,Crime,Assault
...,...,...,...,...,...,...
3576,3576,#food #foodie #snacks #nature nature foodyeati...,en,India,,
3577,3577,@ernestjeffry You mean 80 crores turnover or l...,en,India,,
3578,3578,"‡™™‡´Ä‡™è‡™Æ ‡™Æ‡´ã‡™¶‡´Ä‡™è ‡™µ‡´á‡™™‡™æ‡™∞‡´Ä‡™ì‡™®‡´á ‡™ï‡™∞‡´ç‡™Ø‡´ã ‡™µ‡™æ‡™Ø‡™¶‡´ã, ‡™§‡™Æ‡™æ‡™∞‡™æ ‡™ú‡´Å‡™®‡™æ ...",gu,India,,
3579,3579,$ULI.V up +18.92% last wk as #UltraLithium sam...,en,India,,
3580,3580,@iPallaviGoyal u can PLAY with this https://t....,en,India,,
3581,3581,One Stop solution for the complete #interiorde...,en,India,,
3582,3582,"@iPallaviGoyal ""ALL""",und,India,,
3583,3583,‡™ï‡´ã‡™Ç‡™ó‡´ç‡™∞‡´á‡™∏‡™®‡´á ‡™™‡´á‡™ü‡™Æ‡™æ‡™Ç ‡™¶‡´Å‡™ñ‡´á ‡™õ‡´á ‡™Ö‡™®‡´á ‡™Æ‡™æ‡™•‡´Å‡™Ç ‡™ï‡´Å‡™ü‡´á ‡™õ‡´á‡™É ‡™µ...,gu,India,,
3584,3584,Can you recommend anyone for this #job? Projec...,en,India,,
3585,3585,"Jacques Kallis, @jacqueskallis75 is now trendi...",en,India,,
3586,3586,@Swamy39 Rajdeep looked like a mental case aft...,en,India,,
3587,3587,'sangeet' &amp; 'blot' are now trending in #Ba...,en,India,,
3588,3588,All the best @NewtonTheFilm for being selected...,en,India,,
3589,3589,Why are rent agreements only for 11 months?\nh...,en,India,,
3590,3590,@iPallaviGoyal &lt;--- STINKS,en,India,,
3591,3591,Thank you koko ü§ó https://t.co/N6dPr7zd8J,en,India,,
3592,3592,@iPallaviGoyal &lt;-- BEGGING FOR HUMILIATION,en,India,,
3593,3593,Make it your twitter/insta/fb DP for his 23rd ...,en,India,,
3594,3594,1485sq.ft Plot w/ price of 20.79 lakhs is avai...,en,India,,
3595,3595,üëÄ Insider Tips on Broadway by @debbiedares in ...,en,India,,
3596,3596,"And they say, #Kashmir belonged to them. üòÇüòÇüòÇ h...",en,India,,
3597,3597,+10 https://t.co/3emgBBHb3z,und,India,,
3598,3598,CRUDE OIL ROCKED FROM 3357 TO 3387 +30 PTS BOO...,en,India,,
3599,3599,HOLY SHIT 2018 @hellfestopenair TIX ARE ALREAD...,en,India,,
3600,3600,‡™®‡´ã‡™ü‡™¨‡™Ç‡™ß‡´Ä‡™®‡™æ ‡™ï‡™æ‡™∞‡™£‡´á 3 ‡™≤‡™æ‡™ñ ‡™ï‡™∞‡´ã‡™° ‡™∞‡´Ç‡™™‡™ø‡™Ø‡™æ‡™®‡´Å‡™Ç ‡™∏‡™∞‡™ï‡™æ‡™∞‡™®‡´á ‡™∏...,gu,India,,
3601,3601,@naralokesh Tirupati can be a bigger Eco-syste...,en,India,,
3602,3602,Rental Space Available for #CambridgeLayout #O...,en,India,,
3603,3603,Those questioning us on development of Gujarat...,en,India,,
3604,3604,$AWE.V up +18.75% last wk on no news: WATCH Br...,en,India,,
3605,3605,@iPallaviGoyal https://t.co/fgjxDy78Ij,und,India,,

In [238]:
# Write the dataframe to CSV file
#Tweets_concat.to_csv("d:\\Tweets_concat.csv", encoding='utf-8')